extends ./layout/index.pug

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="./img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1= pagina

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Phasellus lobortis gravida venenatis. Proin faucibus vitae neque vitae elementum. 
                    Integer ac felis vitae sem fermentum egestas. Phasellus at molestie massa. 
                    Etiam vel ultricies turpis, non euismod metus. Praesent et diam ut risus luctus blandit. 
                    Suspendisse et ornare enim. Vivamus id sodales odio, in pretium lacus.

                p Aenean id nunc ac urna blandit mattis. 
                    Integer mollis consectetur risus, a molestie nisi iaculis ornare. 
                    Nam feugiat est eu elit eleifend volutpat. 
                    Quisque non sollicitudin diam, nec consequat lectus 
                    Phasellus id tortor eget velit ultrices malesuada.
                    Nulla et quam erat. Pellentesque ac turpis id metus molestie tristique a nec elit. 
                    Donec sapien lectus, egestas a dignissim sit amet, euismod in nibh. 
                    In vitae consequat nibh, non convallis odio. Sed ornare lobortis erat, 
                    sit amet mattis massa molestie maximus.

                p Sed bibendum vehicula leo quis imperdiet. Maecenas tincidunt elit sed tortor lobortis, 
                    quis accumsan leo lacinia. Curabitur at lectus nec orci ornare elementum. 
                    Nulla quis erat eget felis rhoncus bibendum sed at nisi. 
                    Aenean at mattis turpis, scelerisque imperdiet nibh. Donec pellentesque tincidunt mattis. 
                    Nullam vel sodales sem, ac hendrerit nibh. Praesent lacinia egestas lobortis. 
                    Phasellus eget rutrum dui. Mauris diam mi, condimentum vel faucibus et, gravida non tortor. 
                    Fusce quis nulla in nunc varius aliquam et et libero. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Praesent lacinia egestas lobortis. 
                        Phasellus eget rutrum dui. Mauris diam mi, condimentum vel faucibus et, gravida non tortor. 
                        Fusce quis nulla in nunc varius aliquam et et libero.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Praesent lacinia egestas lobortis. 
                        Phasellus eget rutrum dui. Mauris diam mi, condimentum vel faucibus et, gravida non tortor. 
                        Fusce quis nulla in nunc varius aliquam et et libero.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Praesent lacinia egestas lobortis. 
                        Phasellus eget rutrum dui. Mauris diam mi, condimentum vel faucibus et, gravida non tortor. 
                        Fusce quis nulla in nunc varius aliquam et et libero.
